<!DOCTYPE html>
<html lang="ru">
  <head>
    {% block head %}
    <title>PhoneBook{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta charset="utf-8">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
    <div class="navbar navbar-static-top navbar-default">
      <div class="container">
        <button class="navbar-toggle">
          <span class="icon-bar">чс</span>
          <span class="icon-bar">сч</span>
          <span class="icon-bar">чс</span>
        </button>
        <a class="navbar-brand" href="/">PhoneBook - справочник телефонов</a>
        <div class="nav-collapse">
          {% block navbar_right %}
          <ul class="nav navbar-nav pull-right">
              <li><a href="#">Добавить</a></li>
             <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Поиск">
        </div>
        <button type="submit" class="btn btn-default">Поиск</button>
      </form>

          </ul>
          {% endblock %}
        </div><!--/.nav-collapse -->
      </div>
    </div>
    {% endblock %}
    <div class="container page">
        <div class="content">
          {% block content %}
          {% endblock %}
        </div>
        <hr>
        {% block footer %}
        <footer class="footer">
            <p>&copy; PhoneBook</p>
        </footer>
        {% endblock %}
    </div>
    {% block js_footer %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    {% endblock %}
  </body>
</html>